* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Aplicando Estilos*/
/* Seccion Index */
body {
  font-family: 'Poppins';
}

.container-fluid {
  padding: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

/* Header */
header {
  background-color: #00909E;
  width: 100vw;
}

.logo {
  margin: 0.5rem;
  border-radius: 20px;
}

.menu__hamburguesa {
  margin-right: 5px;
  margin-left: 220px;
  width: 0;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar>.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main */
.video__principal {
  width: 100vw;
  padding: 0;
}

.parrafo__inicial {
  margin-top: 1rem;
  text-align: center;
  word-spacing: 0.5rem;
  line-height: 1.8rem;
  font-size: 0.9rem;
  padding: 2rem;
}

.contenedor,
.contenedorReverse {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0.1rem;
}

.contenedor__texto,
.contenedorReverse__texto {
  text-align: center;
  padding: 1rem 2rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 1rem;
  color: #142850;
}

.contenedor__subtitulo,
.contenedorReverse__subtitulo {
  color: #142850;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.contenedor__parrafo,
.contenedorReverse__parrafo {
  text-align: justify;
  font-size: 0.8rem;
  line-height: 2rem;
}

.contenedor__img, .contenedorReverse__img{
  width: 300px;
  height: 200px;
  margin: 0.1rem 3rem;
  padding: 0.1rem;
  box-shadow: 8px 11px 5px -4px rgb(134 134 140 / 49%);
  -webkit-box-shadow: 8px 11px 5px -4px rgb(134 134 140 / 49%);
  -moz-box-shadow: 8px 11px 5px -4px rgba(134, 134, 140, 0.49);
}

/* Footer */
.footer {
  background-color: #00909E;
  margin-top: 10rem;
  width: 100vw;
  padding: 1rem 0rem 2rem 0rem;
}

.contenedor__footer{
  margin: 1rem 0rem;
  width: 100%;
  text-align: center;
  border-bottom: solid white 1px;
}

.contenedor__footer--active {
  margin: 1rem 0rem;
  width: 100%;
  text-align: center;
  border-bottom: solid white 1px;
}

.footer__subtitulo{
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: white;
  font-size: 1.3rem;
  font-family: serif;
}

.footer__parrafo{
  color: white;
  margin-top: 1rem;
  display: none;
}

.contenedor__footer ul{
  list-style: none;
  color: white;
  padding-top: 0.5rem;
  display: none;
}

.footer__iframe{
  border-radius: 0.2rem;
  margin-top: 0.5rem;
  display: none;
}

.footer__form{
  display: none;
}

.fab {
  color: white;
  font-size: 1.5rem;
  margin: 0.5rem;
  display: none;
}

/* Seccion ¿Quienes Somos? */
/* Main */
.contenido2{
  margin-bottom: 5rem;
}

.second__text {
  margin-top: 1.5rem;
}

.second__titulo {
  color: #142850;
  font-weight: 600;
  text-align: center;
  margin: 1rem;
}

.second__parrafo {
  margin: 1rem 2.5rem;
  word-spacing: 0.5rem;
  line-height: 1.5rem;
  font-size: 0.8rem;
  text-align: center;
}

.second__img{
  width: 300px;
  margin: 1rem 3rem;
}

.carousel-item{
  width: 90%;
  margin: 1.3rem;
}

/* Seccion destinos */
/* MAin */
.third__titulo h1 {
  color: #142850;
  margin-top: 2rem;
  font-weight: 600;
  text-align: center;
}

.third__text,
.experiencia__text {
  margin-top: 2rem;
}

.third__subtitulo,
.third__h4 {
  color: #142850;
  text-align: center;
  font-style: italic;
}

.third__parrafo,
.experiencia__parrafo {
  margin: 1rem 1rem;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.5rem;
}

/* Seccion Contactanos */
/* Main */
.formContainer {
  width: 75%;
  background-color: #142850;
  margin: 3rem auto;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem
}

.formContainer__titulo {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin: 2rem
}

.form {
  text-align: center;
}

.form__label {
  color: white;
  font-weight: 600;
  text-align: left;
  display: inline-block;
  width: 60%;
}

.form__input,
.form__textarea {
  width: 60%;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #142850;
  border: none;
  border-bottom: solid 1px #00909E;
  color: white;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}

.select {
  display: block;
  margin: 1rem 4rem 3rem 3rem;
  background-color: #00909E;
  color: white;
}

.form__input--submit {
  background-color: #00909E;
  color: white;
  display: block;
  width: 50%;
  height: 3rem;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  margin: 1.5rem auto;
  border-radius: 0.5rem
}

/* Seccion Paquetes */
/* Main */
.paquetesTitulo{
  margin: 3rem;
  color: #142850;
  font-weight: 600;
  text-align: center;
}

.paquetes{
  margin: 1rem;
}

.subtitulo__paquetes{
  font-style: italic;
  color: #142850;
  text-align: center;
  font-weight: 400;
}

.subtitulo__plan{
  font-weight: 600;
}

.parrafo__paquetes{
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 3rem;
}

/* Aqui van las Media Queries */
/* Media Tablet */
@media (min-width: 768px) {

  /* Seccion home */
  /* Header */
  .navbar {
    display: flex;
    justify-content: space-around;
  }

  /* Main */
  .contenedor,
  .contenedorReverse {
    margin: 1rem 2rem;
  }

  .parrafo__inicial {
    margin-top: 1.5rem;
    padding: 1rem;
    text-align: center;
    word-spacing: 0.8rem;
    line-height: 2rem;
    padding: 2rem;
  }

  .contenedor__texto,
  .contenedorReverse__texto {
    text-align: center;
  }

  h4 {
    font-size: 2rem;
    font-weight: 400;
  }

  .contenedor__subtitulo,
  .contenedorReverse__subtitulo {
    word-spacing: 1rem;
  }

  .contenedor__parrafo,
  .contenedorReverse__parrafo {
    text-align: center;
    font-size: 1rem;
    line-height: 2rem;
    word-spacing: 0.8rem;
  }
  .contenedor__img, .contenedorReverse__img{
    width: 400px;
    height: 300px;
  }

  /* Seccion ¿Quienes Somos? */
  /* Main */
  .second__text {
    margin-top: 2.2rem;
  }

  .second__parrafo {
    line-height: 2rem;
  }

  .second__img{
    width: 400px;
    margin: 1rem 10rem;
  }
  
  .carousel-item{
    margin: 2.5rem;
  }
  /* Seccion Destinos */
  /* Main */
  .third__parrafo,
  .experiencia__parrafo {
    font-size: 0.9rem;
    line-height: 1.8rem;
  }

  .third__h4 {
    font-size: 1.5rem;
  }

  .third__subtitulo {
    font-weight: 600;
  }

  /* Seccion Contactanos */
  /* Main */
  .select{
    margin: 1rem 4rem 3rem 6rem;
  }

  /* Seccion Paquetes */
  /* Main */
  .paquetesTitulo{
    font-size: 3rem;
  }

  .paquetes{
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  .subtitulo__paquetes{
    font-weight: 600;
  }

  .subtitulo__plan{
    text-align: center;
  }

  .parrafo__paquetes{
    font-size: 1rem;
    line-height: 2rem;
    word-spacing: 0.5rem;
    padding: 1rem 2rem;
  }
}

/* Media Desktop */
@media (min-width: 1440px) {

  /* Seccion Home */
  /* Header */
  .logo {
    width: 150px;
    height: 100px;
    margin: 0.5rem 2.5rem;
    border-radius: 500px;
  }

  .navbar>.container-fluid {
    font-size: 1.5rem;
  }

  /* Main */
  .parrafo__inicial{
    width: 100%;
    padding: 1rem 10rem;
    font-size: 1rem;
  }
  .contenedor{
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin: 2rem 2rem;
  }

  .contenedorReverse{
    display: flex;
    flex-direction: row-reverse;
    justify-items: center;
    margin: 5rem 2rem;
  }

  .contenedor__parrafo,
  .contenedorReverse__parrafo {
    font-size: 1rem;
    line-height: 2.5rem;
    word-spacing: 0.8rem;
    padding: 0.2rem 2rem 2rem 2rem;
  }

  /* Footer */
  .footer{
    width: 100%;
    background-color: #00909E;
    margin-top: 10rem;
    align-items: stretch;
    justify-content: space-between;
  }

  .contenedor__footer{
    margin: 2rem;
    padding: 0.5rem 4rem;
    border-bottom: none;
    text-align: left;
  }

  .footer__subtitulo{
    width: 60%;
    font-weight: 600;
    margin: 0.5rem;
    letter-spacing: 0.1rem;
    color: white;
  }

  .contenedor__footer ul{
    list-style: none;
    color: white;
    margin: 0.5rem;
    padding-top: 0.5rem;
    display: block;
  }

  .contenedor__footer ul li{
    padding-bottom: 1rem;
  }

  .footer__parrafo{
    color: white;
    margin-top: 1rem;
    margin-left: 0.5rem;
    display: block;
  }

  .footer__iframe{
    margin: 1.5rem 0.5rem;
    border-radius: 0.2rem;
    display: block;
  }

  .contenedor__footer--active{
    margin: 2rem;
    padding: 0.5rem 4rem 0.5rem 8rem;
    border-bottom: none;
    text-align: left;
  }

  .footer__form{
    display: flex;
  }

  .input__suscrib{
    margin: 0.5rem;
    width: 11vw;
    background-color: #00909E;
    color: white;
    border: none;
    border-bottom: solid 1.5px #142850;
    outline: none;
    font-family: 'Poppins', sans-serif;
  }

  .input__enviar{
    background-color: #142850;
    color: white;
    border-radius: 0.3rem;
    font-weight: 200;
    margin: 1rem 2rem;
    border: #142850 2px;
    width: 5rem;
    height: 2rem;
    font-family: 'Poppins', sans-serif;
  }

  .fab{
    color: white;
    font-size: 2rem;
    margin: 0.5rem;
    display: inline-block;
  }

  /* Seccion ¿quienes somos? */
  /* Main */
  .second {
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
  }

  .second__text {
    flex-direction: column;
    margin-left: 2rem;
    line-height: 2rem;
  }

  .second__titulo {
    text-align: center;
    margin-bottom: 2rem;
  }

  .second__parrafo {
    text-align: justify;
    word-spacing: 0.5rem;
  }

  .second__img {
    width: 700px;
    margin-top: 3rem;
    margin-left: 2.5rem;
    margin-right: 2rem;
  }

  .carousel-item{
    margin: 4.5rem;
  }
  
  /* Seccion Destinos */
  /* Main */
  .third__subtitulo {
    text-align: left;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #142850;
  }

  .third__destinos {
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin-left: 1.5rem;
    margin-top: 4rem;
  }

  .third__parrafo {
    text-align: left;
    word-spacing: 0.2rem;
    line-height: 2rem;
    margin: 0;
    padding-right: 5rem;
  }

  .third__img {
    width: 30%;
    margin-right: 3rem;
  }

  .experiencia {
    display: flex;
    flex-direction: row-reverse;
    margin: 1.5rem;
  }

  .experiencia__parrafo {
    text-align: center;
    word-spacing: 0.2rem;
    line-height: 2rem;
    margin: 1rem;
  }

  .third__h4 {
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    margin: 1rem 1rem 2rem 1rem;
  }

  .experiencia__img {
    width: 40%;
  }

  /* Seccion Contactanos */
  /* Main */
  .select{
    margin: 1rem 4rem 3rem 12.5rem;
  }

  /* Seccion Paquetes */
  /* Main */
  .texto__paquetes{
    margin-top: 3rem;
  }
  .parrafo__paquetes{
    padding: 1rem 4rem;
  }
  .img__paquetes{
    margin: 1rem 10rem;
  }
}